:root {
    /* Colors */
    --white: #fefefe;
    --yellow-light: #faf4e1;
    --yellow: #e6c86e;
    --blue: #A0E7E5;
    --green: #52D452;
    --green-light: #ccffcc;
    --green-dark: #28A228;
    --pink: #FFAEBC;
    --red: #FF3D33;
    --red-dark: #D60B00;
    --black: #3d3d3b;
    --gray: #808080;

    /* Font Size */
    --font-large: 48px;
    --font-medium: 28px;
    --font-regular: 18px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 600;
    --weight-regular: 400;
}

body {
    margin: 0;
    padding: 0;
    cursor: default;
    background-color: var(--white);
    font-family: 'Varela Round', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: var(--font-large);
    font-weight: var(--weight-bold);
    margin: 2rem 0 0;
}

h2 {
    font-size: var(--font-regular);
    font-weight: var(--weight-regular);
    margin-bottom: 1rem;
    text-align: center;
}

ul,
li {
    list-style: none; 
    padding: 0;
}

header{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.todo-input {
    font-size: var(--font-regular);
    width: 50%;
    height: 2rem;
    border: 1px solid var(--yellow);
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
    padding-left: 20px;
}

.todo-button {
    width: 3rem;
    height: 2.3rem;
    background-color: var(--yellow);
    color: white;
    font-size: var(--font-regular);
    border: 1px solid var(--yellow);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    transform: translateX(-10%);
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
    outline: none;
}

.todo-button:hover {
    background-color: var(--pink);
    color: white;
}

.todo-container {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.todo-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--yellow-light);
    border-radius: 10px;
    padding: 1rem 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
}

.todo-item {
    background-color: white;
    width: 90%;
    height: 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem 0;
    /* border: 1px solid var(--yellow); */
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.completed {
    background-color: var(--green-light);
    opacity: 0.5;
    border-color: var(--green-dark);
}

.todo-text {
    font-size: var(--font-regular);
    padding: 5px 0 5px 1rem;
}

.text-line-through{
    text-decoration: line-through;
}

.todo-btn-container{
    padding-right: 1rem;
}

.todo-checked,
.todo-remove {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    outline: none;
    transition: all 0.2s ease-in-out;
    color: white;
}

.todo-checked {
    background-color: var(--green);
    border: none;
}

.todo-checked:hover {
    background-color: var(--green-dark);
}

.todo-remove {
    background-color: var(--red);
    border: none;
}

.todo-remove:hover {
    background-color: var(--red-dark);
}

.fa-check,
.fa-times {
    pointer-events: none;
}

.fall {
    transform: translateY(4rem) rotateZ(5deg);
    opacity: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
}

.select {
    margin: 1rem;
    overflow: hidden;
    position: relative;
    border: 1px solid var(--yellow);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
}

select {
    color: var(--black);
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 10px;
}

.select:hover {
    border-color: var(--pink);
}

.select::after {
    content: "\25BC";
    position: absolute;
    width: 1.25rem;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    top: 0;
    right: 0;
    padding: 0.3rem 0.25rem 0.3rem 0.5rem;
    pointer-events: none;
    color: white;
    transition: all 0.3s ease-in-out;
}

.select:hover::after {
    background-color: var(--pink);
    border-color: var(--pink);
    color: white;
}

@media screen and (max-width: 768px) {
    /* Roots */
    :root {
        /* Font Size */
        --font-large: 28px;
        --font-medium: 16px;
        --font-regular: 14px;
    }
    
    .todo-container {
        width: 85%;
    }

    .todo-checked,
    .todo-remove {
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 50%;
        cursor: pointer;
        margin-left: 5px;
    }

    .todo-btn-container{
        padding-right: 0.5rem;
    }

    .fa-check,
    .fa-times {
        font-size: var(--font-regular);
    }

    .todo-item {
        height: 2rem;
    }

    .select::after {
        padding: 0.5rem 0.1rem 0.4rem 0.5rem;
        font-size: 0.8rem;
    }
}
